html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: white;
  height: 100vh;
  background: linear-gradient(rgb(15, 13, 56), rgb(130, 8, 22));
}

a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
}
